.headernav {
	right:0;
	position: relative;
	font:  bold 12pt sans-serif;	
}
nav ul ul { /* General Function for the dropdown, hide on start*/
	display: none;
}
	nav ul li:hover > ul { /* unhide dropdown when hovering main-nav item*/
		display: block;
	}
nav ul {
	padding: 0px;
	margin: 0;
	border-radius: 0;  
	list-style: none;
	position: relative;
	display: inline-block;
	text-align: left;
}
	nav ul:after {
		content: ""; 
		clear: both;
		display: block;
	}
nav ul li {
	float: left;
}
	nav ul li:after { /*Divider between main-nav items*/
		content: " | ";
		float: right;
		padding: 3px 0;
	}
	nav ul li:last-child:after { /*No Divider for the last main-nav item*/
		content: "";
	}
	nav ul li:hover a {
		color: #115DA9;
	}
	nav ul li a {
		display: block;
		padding: 3px 12px;
		text-decoration: none;
		color: #33404d;
		float: left;
	}

nav ul li:hover ul li a{
	color: #33404d;
}
	nav ul li:hover ul li a:hover{
		color: #115DA9;
	}
nav ul ul {
	padding: 0 12px;
	position: absolute;
	top: 100%;
	background: #f8f8f8;
	box-shadow: 0 2px 2px #ccc;
	
}
nav ul ul li {
	float: none;
	position: relative;
}
	nav ul ul li:after {
		content: ""; /*to prevent inherent Divider from main-nav items*/
	}
	nav ul ul li a {
		padding: 3px 0;
		width: 100%;
		text-align: left;
		border-bottom: solid 1px #f2f2f2;
		border-top: solid 1px #fff;
		white-space: nowrap; /* to prevent line break of link text*/
	}
	nav ul ul li:last-child a {
		padding: 3px 0;
		border-bottom: none;
	}
	nav ul ul li:first-child a {
		border-top: none;
	}