/* General settings*/
body {
	padding: 0 5% 0 5%;
	background: #f8f8f8;
	color: #33404d;
	line-height: 1.4;
}
.page {
	width:100%;
	position: relative;
}
#h1 {
	font: bold 20pt sans-serif;	
	color: #115DA9;
}
#h2{
	font: bold 14pt sans-serif;
	padding: 0 0 7px 0;
	color: #115DA9;
}
input[name="cat"] {
	margin: 10px 5px 0 0;	
	padding: 0 5px;
}

input[name="title"] {
	margin: 10px 0 0 0;
	padding: 0 5px;
}

textarea[name="body"] {
	padding: 0 5px;
}

#text {
	white-space: pre-wrap;
}
#code {
	display: inline-block; 
	margin: 7px 0 0 0;
	overflow: auto;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 5px 15px;
	font: 10pt monospace;
	color: #555;
	background-color: #ddd;
}
textarea {
	margin: 10px 0;
	display: block;
	width: 100%;
	height: 30em;
}
* {
font-size: 12pt;
}
#control {
	font-size: 12pt;	
}
a {
	color: #aaa;
}
a:hover {
	color: #2080df;
}

