<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/menu.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Home</title>

</head>

<body>
<script type="text/javascript">
	function fun() {
		var a=parseInt(prompt("Enter password",""), 10);
		if (43936563823335 % a != 0) {
 			window.location = "";
		}
	}
	fun();
</script>
{{template "menu.html" .}}
<span id="h1">Home</span><br>
<div id="text">
<div id="h2"># Header</div>simple text
<div id="code">``code``</div>
<b>**bold**</b>
</div>
</body>
</html>
