<div id='top'>
<nav class="headernav">
	<ul class="main-nav">
		<li><a href="/index">Home</a></li>
		<li><a href="/edit/category/title">+</a></li>{{range .}}{{$d := .Name}}
		<li><a href="#">{{title $d}}</a>
			<ul class="articles-nav">
				{{range $f:=.Files}}<li><a href="/view/{{$d}}/{{$f}}">{{title $f}}</a></li>{{end}}
			</ul>
		</li>{{end}}
	</ul>
</nav>
</div><br>