<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/menu.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>{{.Title}}</title>
</head>
<body>
{{template "menu.html" .Menu}}
<span id="h1">{{.GetTitle}}</span>
<span id="control"><a href="/edit/{{.Cat}}/{{.Title}}" title="Edit"> &#10000;</a>
	<a href="/delete/{{.Cat}}/{{.Title}}" title="Delete" onclick="return confirm('Delete?');"> &#9760;</a></span><br><br>
<div id="text">{{ .Article.HTML}}</div>
</body>
</html>